<div class="card">
    <div class="card-body">
        <article>
            WhatsApp
        </article>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <article>
            WhatsApp
        </article>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <article>
            WhatsApp
        </article>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <article>
            WhatsApp
        </article>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <article>
            WhatsApp
        </article>
    </div>
</div>