<nav>
            <div>
                <span>Spectre Chrome</span>
            </div>

            <div class="row items-center">
                <div class="col">
                    <a href="#">Home</a>
                </div>
                <div class="col">
                    <a href="/frontend/pages/about.html">About Us</a>
                </div>
                <div class="col">
                    <a href="/frontend/pages/contact.html">Contact</a>
                </div>
            </div>
        </nav>